.title-component {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 10vh;
  background-color: #4F0F1C;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  font-size: 4vh;
  height: 97%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title > a {
  color: white;
  text-decoration: none;
}

.separator1 {
  width: 100%;
  height: 1%;
  background-color: white;
}

.separator2 {
  width: 100%;
  height: 2%;
  background-color: #4F0F1C;
}
